button {
	width: 20px;
	height: 20px;
}

.ui-icon {
	text-align:center;
}

#status {
	float: left;
}

.playlist-entry {
	padding: 0;
	margin: 0;
}

#current-song-block {
	height: 0;
	width: 100%;
	padding: 0;
	background-color: white;
	position: fixed;
	bottom: 0;
	border-top: 1px solid black;

	margin-bottom: 0px;
}

.current-song-name {
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	font-weight: bold;

	margin-top: .5em;
}

.current-song-progress {
	position: absolute;
	bottom: .5em;
	left: .5em;	

	text-align: center;
	width: 70%;
	height: 1em;
}

.current-song-time {
	position: absolute;
	bottom: .5em;
	right: .5em;

	width: 20%;
	height: 1em;
}

#errdialog {
	display:none;
}
